<%- include('includes/head.ejs') %>

<body>


    <%- include('includes/navigation.ejs') %>
    <h1>Some error occured</h1>
    <p>Working on fixing sorry for inconvinence!!</p>


<%- include('includes/end.ejs') %>

